{% load static %}
{% load crispy_forms_tags %}

{% if request.user == object.hospital or request.user == object.deliverer or request.user == object.maker or request.user.user_type == "dispatcher" or request.user.is_superuser %}

<div class="container">
  <div class="row">
    <div class="col">
      <h3>Hospital</h3>
      <table class="table">
        <tr>
          <th>Name</th>
          <td>{{object.hospital}}</td>
        </tr>
        <tr>
          <th>Phone</th>
          <td>{{object.hospital_phone}}</td>
        </tr>
        <tr>
          <th>Notes</th>
          <td>{{object.hospital_notes}}</td>
        </tr>
        {% if request.user != object.maker or request.user.is_superuser %}
        <tr>
          <th>Dropoff Point</th>
          <td>{{object.dropoff_location}}</td>
        </tr>
        {% endif %}
      </table>
    </div>
    <div class="col">
      <div id="dropoff_map" style="height:200px"></div>
    </div>
  </div>
</div>

<script src="{% static 'js/OpenLayers/OpenLayers.js' %}"></script>
<script>
    var coords = "{{object.dropoff_location}}".split(",");
    var lat            = coords[0];
    var lon            = coords[1];
    var zoom           = 18;

    var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
    var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
    var position       = new OpenLayers.LonLat(lon, lat).transform( fromProjection, toProjection);

    map = new OpenLayers.Map("dropoff_map");
    var mapnik         = new OpenLayers.Layer.OSM();
    map.addLayer(mapnik);

    var markers = new OpenLayers.Layer.Markers( "Markers" );
    map.addLayer(markers);
    markers.addMarker(new OpenLayers.Marker(position));

    map.setCenter(position, zoom);
</script>
<hr>
{% endif %}