{% load humanize %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>
        {{object.quantity|intcomma}} x {{object.product.name}}{{object.quantity|pluralize}}
        <br>
      </h1>
      <span class="card-subtitle text-muted">Last update: {{object.timestamp_update}}</span>
    </div>
    <div class="col align-middle">
      <h3>
      <span class="float-right badge-pill badge badge-secondary">{{object.status_verbose}}</span>
      </h3>
    </div>
  </div>
</div>