{% load static %}
<div class="justify-content-center align-items-center col-md-1 centered-in-div d-flex flex-wrap text-center"
    style="background-color:#ffc107">
    <center>
        <img src="{% static 'images/icons/waiting.png' %}" alt="..." class="mx-auto d-block">
    </center>
</div>