{% extends 'base.html' %}
{% load markdown %}
{% load static %}

{% block title %}
Deliverers
{% endblock title %}


{% block content %}
<div class="title-buttons">
    <div class="row">
        <div class="col-sm-10 col-12">
            <h1>Deliverers</h1>
        </div>
        <div class="col-sm-2 col-12">
            <a href="new" class="btn btn-primary mt-4 mb-4">Create new</a>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
        </tr>
    </thead>
{% for object in object_list %}
<tr>
    <th>
        <a href="{% url "user_types:hospital_detail" pk=object.pk %}">
            {{object.name}}
        </a>
    </th>
    <td>{{object.address_detail.address.suburb}}, {{object.address_detail.address.city}}, {{object.address_detail.address.country}}</td>
</tr>

{% empty %}
Nothing to list!
{% endfor %}
</table>

{% endblock content %}