{% load static %}
{% load crispy_forms_tags %}
<div class="card mb-3">
  <div class="row no-gutters">




    <div class="col-sm-4" style="background-color:#ccc">
      <img src="{% static 'images/deliverer.png' %}" class="card-img" alt="...">
    </div>




    <div class="col-sm-4">
      <div class="card-body">
        {% if object.deliverer %}
          <div class="container">
            <div class="row">
              <div class="col-8">
                <h5 class="card-title">Delivery: {{object.deliverer.name}} </h5>
              </div>
              <div class="col-4" style="text-align:right">
                <a href="#collapseDelivererField" data-toggle="collapse" class="btn btn-outline-secondary btn-sm ml-auto pull-right">Reassign</a>
              </div>
            </div>
          </div>
          <div class="collapse" id="collapseDelivererField">
            <div class="card card-body">
              {{form.deliverer|as_crispy_field}}
            </div>
          </div>
        {% else %}
          <h5 class="card-title">Select Deliverer</h5>
          {{form.deliverer|as_crispy_field}}
        {% endif %}
        {% if object.deliverer_notes %}
          <a href="#collapseDelivererNotes" data-toggle="collapse">Notes</a>
          <div class="collapse" id="collapseDelivererNotes">
            <div class="card card-body">
              foo
            </div>
          </div>
        {% endif %}
      </div>
    </div>




    <div class="col-sm-4">
      <div id="DelivererMap" style="height:220px"></div>
      <script src="{% static 'js/OpenLayers/OpenLayers.js' %}"></script>
      <script>
          map = new OpenLayers.Map("MakerMap");
          var mapnik         = new OpenLayers.Layer.OSM();
          map.addLayer(mapnik);

          var markers = new OpenLayers.Layer.Markers( "Markers" );
          map.addLayer(markers);
          
          var coords = "{{object.hospital.location}}".split(",");
          var lat            = coords[0];
          var lon            = coords[1];
          var zoom           = 6;

          var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
          var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
          var position       = new OpenLayers.LonLat(lon, lat).transform( fromProjection, toProjection);

          var size = new OpenLayers.Size(21,25);
          var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);

          var icon = new OpenLayers.Icon("{% static 'images/icons/hospital.png' %}", size, offset);

          markers.addMarker(new OpenLayers.Marker(position,icon));

          map.setCenter(position, zoom);

        {% if object.deliverer %}
          var coords = "{{object.deliverer.location}}".split(",");
          var lat            = coords[0];
          var lon            = coords[1];
          var zoom           = 6;

          var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
          var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
          var position       = new OpenLayers.LonLat(lon, lat).transform( fromProjection, toProjection);


          var size = new OpenLayers.Size(21,25);
          var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);

          var icon = new OpenLayers.Icon("{% static 'images/icons/deliverer.png' %}", size, offset);

          markers.addMarker(new OpenLayers.Marker(position,icon));

          map.setCenter(position, zoom);
        {% else %}
        {%for deliverer in deliverer_list%}

          var coords = "{{deliverer.location}}".split(",");
          var lat            = coords[0];
          var lon            = coords[1];
          var zoom           = 6;

          var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
          var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
          var position       = new OpenLayers.LonLat(lon, lat).transform( fromProjection, toProjection);

          var size = new OpenLayers.Size(21,25);
          var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);

          var icon = new OpenLayers.Icon("{% static 'images/icons/deliverer.png' %}", size, offset);

          markers.addMarker(new OpenLayers.Marker(position,icon));

          map.setCenter(position, zoom);

        {% endfor %}
        {% endif %}
      </script>
    </div>


  </div>
</div>



