{% load static %}
{% load crispy_forms_tags %}
<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4" style="background-color:#ccc">
      <img src="{% static 'images/dispatcher.png' %}" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">
          Dispatcher:
          {% if object.dispatcher %}{{object.dispatcher.display_name}}
          {% else %}{{request.user.display_name}}{% endif %}
        </h5>
{{form.dispatcher_notes|as_crispy_field}}
      </div>
    </div>
  </div>
</div>