
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}
<div class="card mb-3" {% if not object.dispatcher %}style="opacity:40%" {% endif %}>
  <div class="row no-gutters">
    <div class="col-md-4" style="background-color:#ccc">
      <img src="{% static 'images/dispatcher.png' %}" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">
          Order Dispatch:
          {% if object.dispatcher %}{{object.dispatcher.display_name}}
          {% else %}Pending{% endif %}
        </h5> <p class="card-text">
          {% if object.status == "dispatching_to_maker"%}
            {{object.dispatcher.display_name}} is connecting you with a maker now
          {% elif object.status == "dispatched_to_maker" and object.maker %}
            {{object.dispatcher.display_name}} has connected:
            <ul>
            <li><strong>Hospital:</strong> {{object.hospital.display_name}}
            <li><strong>Maker:</strong> {{object.maker.display_name}}
            </ul>
          {% elif object.status == "order_received" %}
            A dispatcher will accept the order and pass it along to a maker for production
          {% endif %}
          </p>

        <p class="card-text"><span class="text-muted">{{object.dispatcher.country.unicode_flag}}
            {{object.dispatcher.city}}</span></p>
      </div>
    </div>
  </div>
</div>