{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}
<div class="card mb-3" style="margin-bottom:2000px">
  <div class="row no-gutters">
    
    {% comment %}{% include 'embeds/done.html' %}{% endcomment %}
    


    <div class="col-sm-4" style="background-color:#ccc">
      <img src="{% static 'images/hospital.png' %}" class="card-img" alt="...">
    </div>



    <div class="col-sm-4">
      <div class="card-body">
        <h5 class="card-title">Hospital: {{object.hospital.name}}</h5>
        <p class="card-text">
          {% if request.user == object.hospital %}You have{% else %}{{object.hospital.display_name}} has{% endif %} ordered
          {{object.quantity|intcomma}} {{object.product.name}}{{object.quantity|pluralize}}
        </p>
        <p class="card-text"><span class="text-muted">{{object.hospital.country.unicode_flag}}
            {{object.hospital.city}}</span></p>
      </div>
    </div>



    <div class="col-sm-4">
      <div id="HospitalMap" style="height:220px"></div>
      <script src="{% static 'js/OpenLayers/OpenLayers.js' %}"></script>
      <script>
          var coords = "{{object.hospital.location}}".split(",");
          var lat            = coords[0];
          var lon            = coords[1];
          var zoom           = 4;

          var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
          var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
          var position       = new OpenLayers.LonLat(lon, lat).transform( fromProjection, toProjection);

          map = new OpenLayers.Map("HospitalMap");
          var mapnik         = new OpenLayers.Layer.OSM();
          map.addLayer(mapnik);

          var markers = new OpenLayers.Layer.Markers( "Markers" );
          map.addLayer(markers);
          markers.addMarker(new OpenLayers.Marker(position));

          map.setCenter(position, zoom);
      </script>
    </div>





  </div>
</div>