{% load static %}
{% load crispy_forms_tags %}
<div class="card mb-3">
  <div class="row no-gutters">

    <div class="col-sm-4" style="background-color:#ccc">
      <img src="{% static 'images/maker2.png' %}" class="card-img" alt="...">
    </div>



    <div class="col-sm-4">
      <div class="card-body">
        {% if object.maker %}
          <div class="container">
            <div class="row">
              <div class="col-8">
                <h5 class="card-title">Production: {{object.maker.name}} </h5>
              </div>
              <div class="col-4" style="text-align:right">
                <a href="#collapseMakerField" data-toggle="collapse" class="btn btn-outline-secondary btn-sm ml-auto pull-right">Reassign</a>
              </div>
            </div>
          </div>
          <div class="collapse" id="collapseMakerField">
            <div class="card card-body">
              {{form.maker|as_crispy_field}}
            </div>
          </div>
        {% else %}
          <h5 class="card-title">Select Maker</h5>
          {{form.maker|as_crispy_field}}
        {% endif %}
        {% if object.maker_notes %}
          <a href="#collapseExample" data-toggle="collapse">Notes</a>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              {{object.maker_notes}}
            </div>
          </div>
        {% endif %}
      </div>
    </div>



    <div class="col-sm-4">
      <div id="MakerMap" style="height:220px"></div>
      <script src="{% static 'js/OpenLayers/OpenLayers.js' %}"></script>
      <script>
          map = new OpenLayers.Map("MakerMap");
          var mapnik         = new OpenLayers.Layer.OSM();
          map.addLayer(mapnik);

          var markers = new OpenLayers.Layer.Markers( "Markers" );
          map.addLayer(markers);

          var coords = "{{object.hospital.location}}".split(",");
          var lat            = coords[0];
          var lon            = coords[1];
          var zoom           = 6;

          var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
          var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
          var position       = new OpenLayers.LonLat(lon, lat).transform( fromProjection, toProjection);

          var size = new OpenLayers.Size(21,25);
          var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);

          var icon = new OpenLayers.Icon("{% static 'images/icons/hospital.png' %}", size, offset);

          markers.addMarker(new OpenLayers.Marker(position,icon));

          map.setCenter(position, zoom);

        {% if object.maker %}
          var coords = "{{object.maker.location}}".split(",");
          var lat            = coords[0];
          var lon            = coords[1];
          var zoom           = 6;

          var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
          var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
          var position       = new OpenLayers.LonLat(lon, lat).transform( fromProjection, toProjection);

          var size = new OpenLayers.Size(21,25);
          var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);

          var icon = new OpenLayers.Icon("{% static 'images/icons/maker.jpg' %}", size, offset);

          markers.addMarker(new OpenLayers.Marker(position,icon));

          map.setCenter(position, zoom);
        {% else %}
        {%for maker in maker_list%}

          var coords = "{{maker.location}}".split(",");
          var lat            = coords[0];
          var lon            = coords[1];
          var zoom           = 6;

          var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
          var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
          var position       = new OpenLayers.LonLat(lon, lat).transform( fromProjection, toProjection);

          var size = new OpenLayers.Size(21,25);
          var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);

          var icon = new OpenLayers.Icon("{% static 'images/icons/maker.jpg' %}", size, offset);

          markers.addMarker(new OpenLayers.Marker(position,icon));

          map.setCenter(position, zoom);

        {% endfor %}
        {% endif %}


      </script>
    </div>

  </div>
</div>