{% extends 'base.html' %}
{% load static %}

{% block title %}
User Profile {{object.user}}
{% endblock title %}


{% block content %}
<h1>User #{{object.pk}}</h1>
<table class="table">
    <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        {% if request.user.user_type == "dispatcher" or request.user.is_superuser %}
        <tr>
            <th>Email</th>
            <td>{{object.email}}</td>
        </tr>
        {% endif %}
        <tr>
            <th>Location</th>
            <td>{{object.city}}. {{object.country}}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{object.user_type}}</td>
        </tr>
        <tr>
            <th></th>
            <td></td>
        </tr>
    </tbody>
</table>
{% endblock %}