{% extends 'base.html' %}
{% load static %}

{% block title %}
Users
{% endblock title %}


{% block content %}
<h1>Users</h1>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Location</th>
        </tr>
    </thead>
{% for object in object_list %}
<tr>
    <td style="font-size:200%" class="p-0">
        {{object.country.unicode_flag}}
    </td>
    <th>
        <a href="#">
            {{object.user_display_name}}
            {{object.user_type}} #{{object.pk}}
        </a>
    </th>
    <td>
        {{object.city}}, {{object.country.name}}
    </td>
</tr>

{% empty %}
Nothing to list!
{% endfor %}
</table>

{% endblock content %}