<div class="title-buttons">
    <div class="row">
        <div class="col-sm-10 col-12">
            <h1>{{object.name}}</h1>
        </div>
        <div class="col-sm-2 col-12">
            {% if request.user == object.user %}
            <a href="edit" class="btn btn-outline-primary">Edit</a>
            <a href="delete" class="btn btn-outline-danger">Delete</a>
            {% endif %}
        </div>
    </div>
</div>