{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block header %}
<script src="{% static 'js/jquery.js' %}"></script>
   {{form.media}}
{% endblock header %}

{% block content%}
    <!--<h1>{{ meta.title }}</h1>-->
    <!--<p>{{ meta.description }}</p>-->
    <form action="." method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Submit">
</form>
{% endblock content %}