{% extends 'base.html' %}
{% load markdown %}
{% load static %}

{% block title %}
{{object.name}}
{% endblock title %}

{% block header %}
   {{form.media}}
{% endblock header %}

{% block content %}

{% include "../components/detail_title_buttons.html" %}

<p>{{object.user_notes}}</p>

<table class="table">
<tr>
    <th scope="row">Address</th>
    <td>
    {{ object.address_detail.address.country }}
    </td>
</tr>
<tr>
    <th scope="row">Phone</th>
    <td>
    {% if object.phone %}
        {{ object.phone}}
    {% endif %}
</td>
</tr>
<tr>
    <th scope="row">Email</th>
    <td>
    {% if object.email %}
        {{ object.email}}
    {% endif %}
    </td>
</tr>
<tr>
    <th scope="row">Website</th>
    <td>
    {% if object.url %}
        <a href="{{ object.url}}">{{object.url}}</a>
    {% endif %}
    </td>
</tr>
</table>
<h2>Map</h2>
<div id="Map" style="height:500px"></div>
<script src="{% static 'js/OpenLayers/OpenLayers.js' %}"></script>
<script>
    var coords = "{{object.location}}".split(",");
    var lat            = coords[0];
    var lon            = coords[1];
    var zoom           = 18;

    var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
    var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
    var position       = new OpenLayers.LonLat(lon, lat).transform( fromProjection, toProjection);

    map = new OpenLayers.Map("Map");
    var mapnik         = new OpenLayers.Layer.OSM();
    map.addLayer(mapnik);

    var markers = new OpenLayers.Layer.Markers( "Markers" );
    map.addLayer(markers);
    markers.addMarker(new OpenLayers.Marker(position));

    map.setCenter(position, zoom);
</script>

<h5>Metadata</h5>

<table class="table">
    <tr>
        <th>User</th>
        <td>{{ object.user }}</td>
    </tr>
    <tr>
        <th>PK</th>
        <td>{{ object.pk }}</td>
    </tr>
    <tr>
        <th>Full Address Data</th>
        <td>{{ object.address_detail }}</td>
    </tr>
    <tr>
        <th></th>
        <td></td>
    </tr>
    <tr>
        <th></th>
        <td></td>
    </tr>
</table>

{% endblock content %}