{% extends 'base.html' %}
<!--{% load crispy_forms_tags %}-->

{% block content%}
<h1>New Delivery Request</h1>
    {% include './basic_form.html' %}
    <!--<h1>{{ form.page_title }}</h1>-->
    <!--<form action="." method="post" enctype="multipart/form-data">-->
    <!--{% csrf_token %}-->
    <!--{{ form|crispy }}-->
    <!--<input type="submit" value="Submit">-->
<!--</form>-->
{% endblock content %}