{% extends 'base.html' %}
{% load markdown %}

{% block title %}
Issue: {{ object.title }}
{% endblock title %}

{% block content %}
<h1>{{ object.title }}</h1>
<h6>Last update: {{object.updated_at}}</h6>
<p>{{object.description|markdown}}</p>
<hr>

<h3>Releases</h3>
{% comment %}{{ discussions }}{% endcomment %}
{% for release in releases %}
    <div class="form-group">
      <label for="exampleFormControlSelect1">Download Release {{release.name}}</label>
      <select class="form-control" id="exampleFormControlSelect1" onchange="location = this.value;">
        <option value="{{release.assets.sources.0.url}}">{{release.assets.sources.0.format}}</option>
        <option value="{{release.assets.sources.1.url}}">{{release.assets.sources.1.format}}</option>
        <option value="{{release.assets.sources.2.url}}">{{release.assets.sources.2.format}}</option>
        <option value="{{release.assets.sources.3.url}}">{{release.assets.sources.3.format}}</option>
      </select>
    </div>
{% endfor %}

<h3>Comments</h3>
{% comment %}{{ discussions }}{% endcomment %}
{% for discussion in discussions %}
{% if discussions|first %}

<div class="card mt-3" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title"><a href="{{discussion.0.author.web_url}}">{{ discussion.0.author.name }}</a></h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ discussion.0.updated_at }}</h6>
    <p class="card-text">{{ discussion.0.body | markdown }}</p>
    <a href="#" class="card-link">Reply</a>
    {% comment %}<a href="#" class="card-link">Another link</a>{% endcomment %}
  </div>
</div>    

{% else %}

{% endif %}
    {% for note in discussion|slice:"1:" %}
    
<div class="card ml-5 mb-5" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title"><a href="{{note.author.web_url}}">{{ note.author.name }}</a></h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ note.updated_at }}</h6>
    <p class="card-text">{{ note.body | markdown }}</p>
    {% comment %}<a href="#" class="card-link">Card link</a>{% endcomment %}
    {% comment %}<a href="#" class="card-link">Another link</a>{% endcomment %}
  </div>
</div>    
    {% endfor %}
{% empty %}
No comments yet
{% endfor %}
{% endblock content %}