{% extends 'base.html' %}
{% load markdown %}

{% block title %}
{{ meta.title }}
{% endblock title %}

{% block content %}

<h1>Assigned</h1>

<table class="table table-striped">
  <tr>
    <thead>
      <th>Date</th>
      <th>Issue</th>
      <th>Quantity</th>
      <th>Details</th>
      <th>Download</th>
    </thead>
  </tr>

{% for issue in assigned %}
<tr>
  <td>{{ issue.created_at }}</td>
  <td>
    <a href="{{ issue.project_id }}/{{ issue.iid }}">
      <h5>
      {{ issue.title }}
      </h5>
    </a>
    <p>{{ issue.description|truncatewords:20}}</p>
    </td>
  <td>
    {% for label in issue.labels %}
      <span class="badge badge-pill badge-primary">{{ label }}</span>
    {% endfor %}
  </td>
  <td><a href="{{ issue.http_url_to_repo }}" class="btn btn-primary">Link</a></td>

  <td>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Release: {{issue.release.name}}</label>
      <select class="form-control" id="exampleFormControlSelect1" onchange="location = this.value;">
        <option value="{{issue.release.assets.sources.0.url}}">{{issue.release.assets.sources.0.format}}</option>
        <option value="{{issue.release.assets.sources.1.url}}">{{issue.release.assets.sources.1.format}}</option>
        <option value="{{issue.release.assets.sources.2.url}}">{{issue.release.assets.sources.2.format}}</option>
        <option value="{{issue.release.assets.sources.3.url}}">{{issue.release.assets.sources.3.format}}</option>
      </select>
    </div>
  </td>

</tr>

{% endfor %}
</table>

<h1>Owned</h1>

<table class="table table-striped">
  <tr>
    <thead>
      <th>Date</th>
      <th>Issue</th>
      <th>Quantity</th>
      <th>Details</th>
    </thead>
  </tr>

{% for issue in owned %}
<tr>
  <td>{{ issue.created_at }}</td>
  <td>
    <a href="{{ issue.project_id }}/{{ issue.iid }}">
      <h5>
      {{ issue.title }}
      </h5>
    </a>
    <p>{{ issue.description|truncatewords:20}}</p>
    </td>
  <td>
    {% for label in issue.labels %}
      <span class="badge badge-pill badge-primary">{{ label }}</span>
    {% endfor %}
  </td>
  <td><a href="{{ issue.http_url_to_repo }}" class="btn btn-primary">Link</a></td>
</tr>

{% endfor %}
</table>
{% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/cars?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/cars?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock content %}