{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
  <h1>{{ user.username }}</h1>
  <form class="form-horizontal" method="post" action="{% url 'users:update' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <div id="Map" style="height:500px"></div>
      <script src="{% static 'js/OpenLayers/OpenLayers.js' %}"></script>
      <script>
          map = new OpenLayers.Map("Map");
          var mapnik         = new OpenLayers.Layer.OSM();
          map.addLayer(mapnik);

          var markers = new OpenLayers.Layer.Markers( "Markers" );
          map.addLayer(markers);

          var coords = "{{user.location}}".split(",");
          var lat            = coords[0];
          var lon            = coords[1];
          var zoom           = 6;

          var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
          var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
          var position       = new OpenLayers.LonLat(lon, lat).transform( fromProjection, toProjection);

          markers.addMarker(new OpenLayers.Marker(position));

          map.setCenter(position, zoom);

      </script>
    <div class="control-group" class="mt-5" style="margin-top:20px">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </div>
  </form>
{% endblock %}
