{% extends 'base.html' %}
{% load static %}

{% block header %}
<script src="{% static 'js/jquery.js' %}"></script>
   {{form.media}}
{% endblock header %}

{% load static %}
{% load crispy_forms_tags %}

{% block content%}
<!--{% if request.user.user_type == 'hospital' or request.user.is_superuser %}-->
<!--div class="alert alert-warning" role="alert">
  After testing, this form will only be visible to hospitals
</div-->

<h1>New Order</h1>
<form action="." method="post">
    {% csrf_token %}
    <hr>
    <h2>What You Want</h2>
    {{ form.quantity.label }}
    {{ form.quantity }}
    {{ form.item.label }}
    {{ form.item}}

    <hr>
    <h2>Contact Info</h2>
    <p>We only share this with the people directly involved in this order, and the data will be deleted upon item delivery</p>

    {{ form.hospital_phone.label}}
    {{ form.hospital_phone}}

    <hr>
    <h2>Delivery Details</h2>
    <p>For your privacy, just give an approximate dropoff location and coordinate pickup with your deliverer</p>
    {{ form.dropoff_search.label}}
    {{ form.dropoff_search}}
    {{ form.dropoff_location}}
    <hr>
    <input type="submit" value="Submit" class='btn btn-primary'>
</form>
<!--{% endif %}-->
{% endblock content %}