{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block header %}
<script src="{% static 'js/jquery.js' %}"></script>
   {{form.media}}
{% endblock header %}

{% block content%}
<!--div class="alert alert-warning" role="alert">
  After testing, this form will only be visible to those involved with the order. Even then, each party can only view info relevant to them
</div-->

{% include "embeds/title.html" %}

<form action="." method="post">
    {% csrf_token %}
    
{% include "embeds/hospital_view.html" %}

{% if request.user == object.maker %}
{% include "embeds/maker_form.html" %}
{% endif %}
{% if object.maker %}
{% include "embeds/maker_view.html" %}
{% endif %}

<h2>Dispatch Order</h2>
{{form|crispy}}
    <input type="submit" value="Submit" class='btn btn-primary'>
</form>
{% endblock content %}