{% extends 'base.html' %}
{% load static %}

{% block title %}
Users
{% endblock title %}


{% block content %}
<h1>Orders</h1>
<table class="table">
    <thead>
        <tr>
            <th>Hospital</th>
            <th>Order</th>
            <th>Status</th>
        </tr>
    </thead>
{% for object in object_list %}
<tr>
    <th>
        {{object.hospital.country.unicode_flag}}
        {{object.hospital}}
    </th>
    <td>
        <a href="#">
        {{object.quantity}} x {{object.item}}
        </a>
    </td>
    <td>
        {{object.status}}
    </td>
</tr>

{% empty %}
Nothing to list!
{% endfor %}
</table>

{% endblock content %}