{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block header %}
<script src="{% static 'js/jquery.js' %}"></script>
   {{form.media}}
{% endblock header %}


{% block content%}
<!--div class="alert alert-warning" role="alert">
  After testing, this form will only be visible to those involved with the order. Even then, each party can only view info relevant to them
</div-->

{% include "embeds/title.html" %}
<hr>

<!-- Hospital -->
<div class="container">
  <div class="row">
    <div class="col">
    <h3>Hospital</h3>
  <table class="table">
    <tr>
      <th>Name</th>
      <td>{{object.hospital}}</td>
    </tr>
    <tr>
      <th>Phone</th>
      <td>{{object.hospital_phone}}</td>
    </tr>
    <tr>
      <th>Notes</th>
      <td>{{object.hospital_notes}}</td>
    </tr>
    <tr>
      <th>Dropoff Point</th>
      <td>{{object.dropoff_location}}</td>
    </tr>
  </table>
    </div>
    <div class="col">
<div id="dropoff_map" style="height:200px"></div>
    </div>
  </div>
</div>
<script src="{% static 'js/OpenLayers/OpenLayers.js' %}"></script>
<script>
    var coords = "{{object.dropoff_location}}".split(",");
    var lat            = coords[0];
    var lon            = coords[1];
    var zoom           = 18;

    var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
    var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
    var position       = new OpenLayers.LonLat(lon, lat).transform( fromProjection, toProjection);

    map = new OpenLayers.Map("dropoff_map");
    var mapnik         = new OpenLayers.Layer.OSM();
    map.addLayer(mapnik);

    var markers = new OpenLayers.Layer.Markers( "Markers" );
    map.addLayer(markers);
    markers.addMarker(new OpenLayers.Marker(position));

    map.setCenter(position, zoom);
</script>
<hr>

<!-- Maker -->
<div class="container">
  <div class="row">
    <div class="col">
    <h3>Maker</h3>
  <table class="table">
    <tr>
      <th>Name</th>
      <td>{{object.maker}}</td>
    </tr>
    <tr>
      <th>Phone</th>
      <td>{{object.maker_phone}}</td>
    </tr>
    <tr>
      <th>Notes</th>
      <td>{{object.maker_notes}}</td>
    </tr>
    <tr>
      <th>Pickup Point</th>
      <td>{{object.pickup_location}}</td>
    </tr>
  </table>
    </div>
    <div class="col">
<div id="pickup_map" style="height:200px"></div>
    </div>
  </div>
</div>
<script src="{% static 'js/OpenLayers/OpenLayers.js' %}"></script>
<script>
    var coords = "{{object.pickup_location}}".split(",");
    var lat            = coords[0];
    var lon            = coords[1];
    var zoom           = 18;

    var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
    var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
    var position       = new OpenLayers.LonLat(lon, lat).transform( fromProjection, toProjection);

    map = new OpenLayers.Map("pickup_map");
    var mapnik         = new OpenLayers.Layer.OSM();
    map.addLayer(mapnik);

    var markers = new OpenLayers.Layer.Markers( "Markers" );
    map.addLayer(markers);
    markers.addMarker(new OpenLayers.Marker(position));

    map.setCenter(position, zoom);
</script>
<hr>

<!-- Deliverer -->
<div class="container">
  <div class="row">
    <div class="col">
    <h3>Deliverer</h3>
  <table class="table">
    <tr>
      <th>Name</th>
      <td>{{object.deliverer}}</td>
    </tr>
    <tr>
      <th>Phone</th>
      <td>{{object.deliverer_phone}}</td>
    </tr>
    <tr>
      <th>Notes</th>
      <td>{{object.deliverer_notes}}</td>
    </tr>
    <tr>
      <th></th>
      <td></td>
    </tr>
  </table>
    </div>

<!-- Dispatcher -->
<div class="container">
  <div class="row">
    <div class="col">
    <h3>Dispatcher</h3>
  <table class="table">
    <tr>
      <th>Name</th>
      <td>{{object.dispatcher}}</td>
    </tr>
    <tr>
      <th>Notes</th>
      <td>{{object.dispatcher_notes}}</td>
    </tr>
    <tr>
      <th></th>
      <td></td>
    </tr>
  </table>
    </div>
<!--{% endif %}-->
{% endblock content %}