{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block header %}
<script src="{% static 'js/jquery.js' %}"></script>
   {{form.media}}
{% endblock header %}

{% block content%}
<!--div class="alert alert-warning" role="alert">
  After testing, this form will only be visible to those involved with the order. Even then, each party can only view info relevant to them
</div-->

{% include "embeds/title.html" %}

<form action="." method="post">
    {% csrf_token %}
    
{% include "embeds/hospital_view.html" %}

{% comment %}
if accepted_order:
  if user is dispatcher, super, or assigned maker:
    show details + edit button
  elsif user is otherwise involved:
    show details only
  else:
    show form


if request user is object maker:
  if accepted order (ie timestamp_accepted = True)
    show info + change button
  else:
    show form
elif request user is dispatcher or superuser:


 {% endcomment %}

{% if request.user == object.maker %}
  {% if not object.timestamp_maker_accept %}
    {% include "embeds/maker_form.html" %}
  {% else %}
    <a href="#" class="btn btn-primary">Edit Details</a>
  {% endif %}
{% elif object.maker %}
{% include "embeds/maker_view.html" %}
{% endif %}

{% comment %}<h2>Dispatch Order</h2>{% endcomment %}
{% comment %}{{form|crispy}}{% endcomment %}
    {% comment %}<input type="submit" value="Submit" class='btn btn-primary'>{% endcomment %}
{% comment %}</form>{% endcomment %}
{% endblock content %}