<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        {{form.media}}
    </head>
    <body>
    <form action="." method="post" enctype="multipart/form-data">
    {% csrf_token %}
        {{form}}
    <input type="submit" value="Submit" class="btn btn-primary">
    </form>
    </body>
</html>