{% extends 'base.html' %}
{% load markdown %}
{% load static %}

{% block title %}
{% endblock title %}

{% block header %}
   <script src="[ link to jquery.js goes here ]"></script>
   {{form.media}}
{% endblock header %}

{% block content %}
{{ object.city }}
{{ object.location }}
<div id="Map" style="height:500px"></div>
<script src="{% static 'js/OpenLayers/OpenLayers.js' %}"></script>
<script>
    var coords = "{{object.location}}".split(",");
    var lat            = coords[0];
    var lon            = coords[1];
    var zoom           = 18;

    var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
    var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
    var position       = new OpenLayers.LonLat(lon, lat).transform( fromProjection, toProjection);

    map = new OpenLayers.Map("Map");
    var mapnik         = new OpenLayers.Layer.OSM();
    map.addLayer(mapnik);

    var markers = new OpenLayers.Layer.Markers( "Markers" );
    map.addLayer(markers);
    markers.addMarker(new OpenLayers.Marker(position));

    map.setCenter(position, zoom);
</script>
{% comment %}<script>{% endcomment %}
    {% comment %}map = new OpenLayers.Map("demoMap");{% endcomment %}
    {% comment %}map.addLayer(new OpenLayers.Layer.OSM());{% endcomment %}
    {% comment %}map.zoomToMaxExtent();{% endcomment %}
{% comment %}</script>{% endcomment %}

{% endblock content %}