{% extends 'base.html' %}

{% block title %}
{{ meta.title }}
{% endblock title %}

{% block content %}
<h1>{{meta.title}}</h1>

    {% for project in projects %}
    <div class="media border mt-3 mb-3">
        <img src="{{ project.avatar_url }}" alt="" class="mr-3 img-thumbnail" width=15%>
            <div class="media-body pt-3 pb-3 pr-3">
                <h5 class="mt-0">
                    <a href="{% url 'library:project_detail' project_id=project.id %}">
                        {{ project.name }}
                    </a>
                </h5>
                <p>{{ project.description }}</p>
                <a href="../orders/simple/new/{{ project.id }}" class="btn btn-outline-primary float-right">Order</a>
            </div>
    </div>
    {% endfor %}

</table>
{% endblock content %}