{% load static i18n %}
<!DOCTYPE html>
{% comment %}{% load object_list %}{% endcomment %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Medprint{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    <link rel="icon" href="{% static 'images/favicons/medprint.ico' %}">

    {% block css %}

    <!-- Latest compiled and minified Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <!-- Your stuff: Third-party CSS libraries go here -->

    <!-- This file stores project-specific CSS -->

    <link href="{% static 'css/project.css' %}" rel="stylesheet">


    {% endblock %}

    {% block header %}
    {% endblock header %}

  </head>

  <body>

    <div class="mb-4">
      {% include "navbar.html" %}

    </div>

    <div class="container">

      {% if messages %}
      {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
        {% comment %}{% if 'safe' in message.tags %}{% endcomment %}
        {{ message|safe }}
        {% comment %}{% else %}{% endcomment %}
        {% comment %}{{ message }}{% endcomment %}
        {% comment %}{% endif %}{% endcomment %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button></div>
        {% endfor %}
        {% endif %}

        {% block content %}

<h1>Inspiration - Crowdsourced Supplies for Hospitals</h1>

<p>Due to the CoViD19 Pandemic, there is a scarcity or even non-availbility of urgently needed medical and protective equipment. Health and safety of medical professionals and patients is put at immediate risk. At the same time, many people- among them designers, makers and logistical professionals-  are volunteering to help and support those heroes fighting CoViD19 at the front line by producing urgently needed supplies (e.g. with 3D Printers). 
In the past view weeks, all over the world, many grass-roots initiatives where founded to adress the shortage of supplies and help in this ongoing crisis. Many of those initiatives are facing similar problems, namely to provide an easy to use interface for the medical professionals to order equipment or to have good quality and standard designs to use.</p>

<p>MedPrint is here to solve this problem. We are developing an easy to use, easy to deploy, adaptable open-source platform that can be used by local grass-roots initiatives to manage their workflow and provide a design database that they can use.</p>

        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/FqSM-h-tZxo?rel=0" allowfullscreen></iframe>
        </div>
        <p> </p>

<h2>Added value of using MedPrint: </h2>

<ul>
<li>Become a one-stop solution for ordering, local production and delivery of medical and protective equipment</li>
<li>Central database for known good open-source designs for the medical sector</li>
<li>Easy to scale out when companies with larger production capabilities join the local community</li>
<li>Enables collaborative engineering</li>
<li>Allows to share designs over all instances of MedPrint globally</li>
</ul>

<h2>Developments so far</h2>

<p>The minimum valuable prototype of the <a href="http://frontend.medprint.org" rel="nofollow">Medprint.org</a> platform is around 90% done, we are planning to finish it in the next weeks and will be ready for productive deployment very soon.</p>

<h2>We also were able to connect and network with some other projects:</h2>

<ul>
<li>Print2Protect (Germany): We joined forces during the #WirVsVirus hackathon.</li>
<li>MakersVsVirus (Germany): We are co-operating with MakersVsVirus and share our network with them.</li>
<li>KapaMonitor (Germany): We are co-ordinating our efforts and are talking about the potential for future collaboration.</li>
<li>3DToMeds (Switzerland): 3DToMeds joined MedPrint after their own project did not progress fast enough.</li>
<li>3DIntorno (Italy): We are co-ordinating our efforts and are talking about the potential to deploy MedPrint in Italy.</li>
</ul>

<h2>In greater detail: How does MedPrint work?</h2>

<p>The open source technology stack consists of</p>

<ul>
<li>Django Frontend with a Python framework that allows for sophisticated dataprocessing</li>
<li>Gitlab backend to enable collaborative engineering and allows for support version and variant management</li>
<li>Docker containers that are easily deployable. </li>
</ul>

<p>The MedPrint platform allows medical institutions, supporting makers and logistic providers to connect and coordinates the entire process for a supply with crowdsourced components.  The platform aims to provide a standardised workflow for the ordering, manufacturing and delivery workflow. MedPrint also aggregates known good open-source designs that are dealing with the CoViD19 pandemic requests in order to allow local communitites to start producing equipment immediately. The MedPrint platofrm furthermore allows collaborative engineering of the designs by using a version control system.</p>

<h2>After the Crisis- an adaptable and extendable plaform</h2>

<p>Strictly an open-source platform, we have put an emphasis on making this platform valuable beyond the current crisis. It is adaptable and extendable to support organisations in other circumstances that ask for bringing together people in a collaborative engineering environment, such as disaster relief, development aid or others. Furthermore, it can be deployed globally to adapt to local requirements. Lastly, it can be also used in a commercial environment,e.g. to create a "on demand" hub e.g. for 3D printing or other additive manufacturing services.</p>

<h2>Challenges so far</h2>

<p>Coordination of more than 100 enthusiasts that have beeen supporting MedPrint throughout this journey and going forward has been going surprisingly productive, even with (exclusively digital and remote) communication being a bit chaotic at times. In times when people are contributing to prevent the spread of SARS-CoV-2, digital communication platforms and their reliability and quality are becoming more and more crucial. </p>

<h2>What we learnt so far</h2>

<p>Its incredible what people can achieve in only a short time! Its breathtaking how much motivation, interest and productive energy has combined out of solidarity and willingness to help and work together on solutions for those current urgent problems on the medical front. <strong>We are overwhelmed by the support we have received and are still receiving from all sides and would like to take this opportunity to thank all our current supporters from the bottom of our hearts!</strong></p>

<p>Right now, we have just started- but you can catch a first glimpse of our platform! Please visit <a href="http://frontend.medprint.org" rel="nofollow">Medprint.org</a> and let us know what you think of our prototype.
Our open-source-code can be found at gitlab.com/medrprint.</p>

<h2>What's next</h2>

<p>We are still looking for more programmers (Python,Django, Bootstrap) to support the further development (see below, how we work and how to join).</p>

<p>The project has also been selected to participate in the prestigious "Solution Enabler" programme that the German government has set up to support promising initiatives agains CoVid 19 in Germany.</p>

<p>The momentum gained by those initial partnership is motivating us and makes us optimistic to be able to actively build further partnerships. </p>

<p>Further steps we are working on:</p>

<ul>
<li>Cooperation with more local initiatives</li>
<li>Continued platform development</li>
<li>Implement a sustainability concept and (non-profit) financing model</li>
<li>Clarify legal questions (Organisation form, liability / certifications, Ownership, Copyright) </li>
<li>Organisation of available human resources as optimally as possible </li>
</ul>

<h2>Want to support us?</h2>

<ul>
<li>You are a software developer, preferably Python/Django or Bootstrap </li>
<li>Yo are a maker who designs 3D parts and want to publish them on a central repository</li>
<li>You are running a local community of makers and need a tool to ease your work</li>
<li>You or your company is looking to fund CoViD19 related grass-roots initiatives</li>
</ul>

<p>**Please contact <a href="mailto:info@medprint.org" rel="nofollow">info@medprint.org</a> </p>

<h2>How are we organised?</h2>

<p>We are organised in 4 teams to work efficiently on the challenges of our project: </p>

<ul>
<li>Concept team: working on the general idea, business models and structuring collaboration within the teams</li>
<li>Platform team: has implemented the prototype currently deployed at <a href="http://frontend.medprint.org" rel="nofollow">http://frontend.medprint.org</a></li>
<li>Construction and Design team: Designing equipment and reviewing puclicly available designs</li>
<li>Outreach and Networking team: Connecting MedPrint with other projects, find funding partners, approach local communities</li>
</ul>

<p>Tools used for coordination are amongst others: Discord, Google Suite and Slack. For development we are using Gitlab, our source code can be downloaded here: <a href="https://gitlab.com/medprint" rel="nofollow">https://gitlab.com/medprint</a></p>

<p>see our presentation: <a href="https://drive.google.com/file/d/1HVFy9P6SiwjW9Ym5NdMPrH5GlwfBUxIm/view?usp=sharing" rel="nofollow">https://drive.google.com/file/d/1HVFy9P6SiwjW9Ym5NdMPrH5GlwfBUxIm/view?usp=sharing</a></p>


          {% endblock content %}
          {% include "footer.html" %}
    </div> <!-- /container -->

    {% block modal %}{% endblock modal %}

    <!-- Le javascript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      {% block javascript %}

      <!-- Bootstrap JS and its dependencies-->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

      <!-- Your stuff: Third-party javascript libraries go here -->


      <!-- place project specific Javascript in this file -->

      <script src="{% static 'js/project.js' %}"></script>

      {% endblock javascript %}
  </body>
</html>
