<footer class="pt-4 my-md-5 pt-md-5 border-top" style="width:100%">
        <div class="row">
          <div class="col-12 col-md">
            <h5>Medprint</h5>
            <small class="d-block mb-3 text-muted">&copy; 2020</small>
          </div>
          <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Open Source</a></li>
              <li><a class="text-muted" href="#">Extensible</a></li>
              <li><a class="text-muted" href="#">Re-brandable</a></li>
              <li><a class="text-muted" href="#">Django</a></li>
              <li><a class="text-muted" href="#">Gitlab</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="https://gitlab.com/medprint">MedPrint Source Code</a></li>
              <li><a class="text-muted" href="https://hub.docker.com/repository/docker/medprint/medprint-frontend">Docker Image</a></li>
              <li><a class="text-muted" href="https://devpost.com/software/medprint-3d-druck-fur-medizinische-anwendungen">MedPrint Devpost</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Team</a></li>
              <li><a class="text-muted" href="#">Privacy</a></li>
              <li><a class="text-muted" href="#">Terms</a></li>
            </ul>
          </div>
        </div>
      </footer>