{% load static %}

<div class="jumbotron">
  <h1 class="display-4">Crowdsourced Supplies for Hospitals</h1>
  <p class="lead">Build Stuff! Save Lives!</p>
  <hr class="my-4">
  <p>MedPrint allows to connect maker communities and medical institutions, allowing rapid production of much-needed supplied for those on the front lines of our health system.</p>
  <hr class="my-4">
  <p class="lead">For the purpose of the #EUVsVirus hackathon you can sign in as "HackathonUser" with the password "EUVsVirus1234".</p>
  <p class="lead">THIS IS A TEST DEPLOYMENT, YOU CANNOT ORDER ANYTHING YET!</p>
  <a class="btn btn-primary btn-lg" href="/accounts/signup" role="button">Sign up</a>
  <a class="btn btn-outline-secondary btn-lg" href="/about" role="button">Learn more</a>
</div><div class="card-group">

<h2>Some Available Products</h2>
<div class="row row-cols-1 row-cols-md-3">
  <div class="col mb-4">
    <div class="card">
      <img src="{% static "images/toberemoved/medishield.jpg" %}" class="card-img-top" alt="..." height="225">
      <div class="card-body">
        <h5 class="card-title">MedPrint MediShield</h5>
        <p class="card-text">This Face Shield was designed in the course of the #WirVsVirus hackathon. Multiple variations available.</p>
        <a href="/accounts/signup">Sign-up to order</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="{% static "images/toberemoved/prusa-shield.jpg" %}" class="card-img-top" alt="..." height="225">
      <div class="card-body">
        <h5 class="card-title">Prusa Faceshield</h5>
        <p class="card-text">A prototype face shield developed by Prusa. It went through two verifications with the Czech Ministry of Health.</p>
        <a href="/accounts/signup">Sign-up to order</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="{% static "images/toberemoved/mask.jpg" %}" class="card-img-top" alt="..." height="225">
      <div class="card-body">
        <h5 class="card-title">Mask</h5>
        <p class="card-text">This model was used for the production of mask covers at the University Hospital Saint-Luc, Belgium.</p>
        <a href="/accounts/signup">Sign-up to order</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="{% static "images/toberemoved/open-pcr.jpg" %}" class="card-img-top" alt="..." height="225">
      <div class="card-body">
        <h5 class="card-title">OpenPCR</h5>
        <p class="card-text">OpenPCR is a low-cost yet accurate thermocycler, capable of controlling PCR reactions for DNA detection.</p>
        <a href="/accounts/signup">Sign-up to order</a>
      </div>
    </div>
  </div>
</div>

<h2>Stakeholders</h2>

<div class="card-group">
    <div class="card" style="width: 18rem;">
      <img src="{% static 'images/hospital.png' %}" class="card-img-top" alt="..." style="background-color: #bbb; width: 100%; height: 15vw; object-fit: cover">
      <div class="card-body">
        <h5 class="card-title">Hospitals</h5>
        <p class="card-text">
    Doctors, nurses, and care workers in need of supplies
    </p>
        <a href="#" class="btn btn-primary">View Hospitals</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="{% static 'images/maker2.png' %}" class="card-img-top" alt="..." style="background-color: #bbb; width: 100%; height: 15vw; object-fit: cover">
      <div class="card-body">
        <h5 class="card-title">Makers</h5>
        <p class="card-text">
    Makers design and make the protective gear for those fighting to save lives
    </p>
        <a href="/users/list/#makers" class="btn btn-primary">View Makers</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="{% static 'images/deliverer.png' %}" class="card-img-top" alt="..." style="background-color: #bbb; width: 100%; height: 15vw; object-fit: cover">
      <div class="card-body">
        <h5 class="card-title">Deliverers</h5>
        <p class="card-text">
    Deliverers use their cars, vans, hovercrafts, or feet to deliver much needed supplies
    </p>
        <a href="/users/list/#deliverers" class="btn btn-primary">View Deliverers</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="{% static 'images/dispatcher.png' %}" class="card-img-top" alt="..." style="background-color: #bbb; width: 100%; height: 15vw; object-fit: cover">
      <div class="card-body">
        <h5 class="card-title">Dispatchers</h5>
        <p class="card-text">
    Dispatchers coordinate the whole thing, via email, chat, phone, and smoke signals
    </p>
        <a href="/users/list/#dispatchers" class="btn btn-primary">View Dispatchers</a>
      </div>
    </div>



</div>