{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
Users
{% endblock title %}

{% block content %}
<h1>Users</h1>

<div class="container">
  <div class="row">
    <div class="col-lg">
    
<h3 id="makers">Makers</h3>
<div class="d-flex flex-wrap">
{%for object in object_list%}
    {% if object.user_type == "maker" %}
    <div class="card m-3" style="width: 14rem;">
    <div class="image-wrapper" style="width:14rem; height:14rem; overflow:hidden; position: relative;">
    {% if object.image %}
      <img src="{{object.image.url}}" class="card-img-top" alt="..." style="background-color: #ddd background-size: cover;">
    {% else %}
        <img src="{% static "images/profiles/default.png" %}" class="card-img-top" alt="..." style="background-color: #ddd; background-size: cover;">
        {% endif %}
    </div>
      <div class="card-body">
        <h4>{{object.display_name}}</h4>
              <span style="font-size: 150%">{{object.country.unicode_flag}}</span>
        <p class="card-text">
        </p>
      </div>
    </div>
    {% endif %}
{% endfor %}
</div>


<h3 id="deliverers">Deliverers</h3>
<div class="d-flex flex-wrap">
{%for object in object_list%}
    {% if object.user_type == "deliverer" %}
    <div class="card m-3" style="width: 14rem;">
    <div class="image-wrapper" style="width:14rem; height:14rem; overflow:hidden; position: relative;">
    {% if object.image %}
      <img src="{{object.image.url}}" class="card-img-top" alt="..." style="background-color: #ddd background-size: cover;">
    {% else %}
        <img src="{% static "images/profiles/default.png" %}" class="card-img-top" alt="..." style="background-color: #ddd; background-size: cover;">
        {% endif %}
    </div>
      <div class="card-body">
        <h4>{{object.display_name}}</h4>
              <span style="font-size: 150%">{{object.country.unicode_flag}}</span>
        <p class="card-text">
        </p>
      </div>
    </div>
    {% endif %}
{% endfor %}
</div>


<h3 id="dispatchers">Dispatchers</h3>
<div class="d-flex flex-wrap">
{%for object in object_list%}
    {% if object.user_type == "dispatcher" %}
    <div class="card m-3" style="width: 14rem;">
    <div class="image-wrapper" style="width:14rem; height:14rem; overflow:hidden; position: relative;">
    {% if object.image %}
      <img src="{{object.image.url}}" class="card-img-top" alt="..." style="background-color: #ddd background-size: cover;">
    {% else %}
        <img src="{% static "images/profiles/default.png" %}" class="card-img-top" alt="..." style="background-color: #ddd; background-size: cover;">
        {% endif %}
    </div>
      <div class="card-body">
        <h4>{{object.display_name}}</h4>
              <span style="font-size: 150%">{{object.country.unicode_flag}}</span>
        <p class="card-text">
        </p>
      </div>
    </div>
    {% endif %}
{% endfor %}
</div>

    </div>  
    <div class="col-sm">
    
  <h3>Map</h3>
  <div id="Map" style="height:500px"></div>
  <script src="{% static 'js/OpenLayers/OpenLayers.js' %}"></script>
  <script>
      map = new OpenLayers.Map("Map");
      var mapnik         = new OpenLayers.Layer.OSM();
      map.addLayer(mapnik);

      var markers = new OpenLayers.Layer.Markers( "Markers" );
      map.addLayer(markers);

    {%for object in object_list%}

      var coords = "{{object.location}}".split(",");
      var lat            = coords[0];
      var lon            = coords[1];
      var zoom           = 6;

      var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
      var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
      var position       = new OpenLayers.LonLat(lon, lat).transform( fromProjection, toProjection);


      markers.addMarker(new OpenLayers.Marker(position));

      map.setCenter(position, zoom);

    {% endfor %}

  </script>
</div>
    </div>
  </div>

<!--h3 id="hospitals">Hospitals</h3>
<div class="d-flex flex-wrap">
{%for object in object_list%}
    {% if object.user_type == "hospital" %}
    <div class="card m-3" style="width: 14rem;">
    <div class="image-wrapper" style="width:14rem; height:14rem; overflow:hidden; position: relative;">
    {% if object.image %}
      <img src="{{object.image.url}}" class="card-img-top" alt="..." style="background-color: #ddd background-size: cover;">
    {% else %}
        <img src="{% static "images/profiles/default.png" %}" class="card-img-top" alt="..." style="background-color: #ddd; background-size: cover;">
        {% endif %}
    </div>
      <div class="card-body">
        <h4>{{object.display_name}}</h4>
              <span style="font-size: 150%">{{object.country.unicode_flag}}</span>
        <p class="card-text">
        </p>
      </div>
    </div>
    {% endif %}
{% endfor %}
</div-->


{% endblock content %}