/* These styles are generated from project.scss. */

.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

input#id_dropoff_location {
  visibility: hidden;
}

div.centered-in-div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

div.column {
  float: left;
  width: 50%;
}

div.map-widget {
  display: none;
}

div#div_id_product_id {
  display: none;
}