{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block header %}
<script src="{% static 'js/jquery.js' %}"></script>
{{form.media}}
{% endblock header %}


{% block content%}
<!--div class="alert alert-warning" role="alert">
  After testing, this form will only be visible to those involved with the order. Even then, each party can only view
  info relevant to them
</div-->

{% include "embeds/title.html" %}

{% include "simple/embeds/hospital_block.html" %}

{% if not object.dispatcher %}
<div class="alert alert-info" role="alert">
  <strong>Next step:</strong> A dispatcher will accept the order and pass it along to a maker for production
</div>
{% endif %}

{% include "simple/embeds/dispatch_block.html" %}

<div class="card mb-3" {% if not object.maker %}style="opacity:40%" {% endif %}>
  <div class="row no-gutters">

    <div class="col-sm-4" style="background-color:#ccc">
      <img src="{% static 'images/maker2.png' %}" class="card-img" alt="...">
    </div>

    <div class="col-sm-4">
      <div class="card-body">
        <h5 class="card-title">
          Production:
          {% if object.maker %}{{object.maker.name}}
          {% else %}Pending{% endif %}
        </h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
        <p class="card-text"><span class="text-muted">{{object.maker.country.unicode_flag}} {{object.maker.city}}</span>
        </p>
      </div>
    </div>

    <div class="col-sm-4">
      <div id="MakerMap" style="height:220px"></div>
      <script src="{% static 'js/OpenLayers/OpenLayers.js' %}"></script>
      <script>
          var coords = "{{object.maker.location}}".split(",");
          var lat            = coords[0];
          var lon            = coords[1];
          var zoom           = 4;

          var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
          var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
          var position       = new OpenLayers.LonLat(lon, lat).transform( fromProjection, toProjection);

          map = new OpenLayers.Map("MakerMap");
          var mapnik         = new OpenLayers.Layer.OSM();
          map.addLayer(mapnik);

          var markers = new OpenLayers.Layer.Markers( "Markers" );
          map.addLayer(markers);
          markers.addMarker(new OpenLayers.Marker(position));

          map.setCenter(position, zoom);
      </script>
    </div>

  </div>
</div>

<div class="card mb-3" {% if not object.deliverer %}style="opacity:40%" {% endif %}>
  <div class="row no-gutters">

    <div class="col-sm-4" style="background-color:#ccc">
      <img src="{% static 'images/deliverer.png' %}" class="card-img" alt="...">
    </div>

    <div class="col-sm-4">
      <div class="card-body">
        <h5 class="card-title">
          Delivery:
          {% if object.deliverer %}{{object.deliverer.name}}
          {% else %}Pending{% endif %}
        </h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
        <p class="card-text"><span class="text-muted">{{object.deliverer.country.unicode_flag}}
            {{object.deliverer.city}}</span></p>
      </div>
    </div>

    <div class="col-sm-4">
      <div id="DelivererMap" style="height:220px"></div>
      <script src="{% static 'js/OpenLayers/OpenLayers.js' %}"></script>
      <script>
          var coords = "{{object.deliverer.location}}".split(",");
          var lat            = coords[0];
          var lon            = coords[1];
          var zoom           = 4;

          var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
          var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
          var position       = new OpenLayers.LonLat(lon, lat).transform( fromProjection, toProjection);

          map = new OpenLayers.Map("DelivererMap");
          var mapnik         = new OpenLayers.Layer.OSM();
          map.addLayer(mapnik);

          var markers = new OpenLayers.Layer.Markers( "Markers" );
          map.addLayer(markers);
          markers.addMarker(new OpenLayers.Marker(position));

          map.setCenter(position, zoom);
      </script>
    </div>

  </div>
</div>




{% comment %}<table class="table">{% endcomment %}
  {% comment %}<tr>{% endcomment %}
    {% comment %}<th>Hospital</th>{% endcomment %}
    {% comment %}<td>{% endcomment %}
      {% comment %}{{object.hospital.country.unicode_flag}}{% endcomment %}
      {% comment %}{{object.hospital}}{% endcomment %}
      {% comment %}</td>{% endcomment %}
    {% comment %}</tr>{% endcomment %}
  {% comment %}<tr>{% endcomment %}
    {% comment %}<th>Maker</th>{% endcomment %}
    {% comment %}<td>{% endcomment %}
      {% comment %}{{object.maker.country.unicode_flag}}{% endcomment %}
      {% comment %}{{object.maker}}{% endcomment %}
      {% comment %}</td>{% endcomment %}
    {% comment %}</tr>{% endcomment %}
  {% comment %}<tr>{% endcomment %}
    {% comment %}<th>Deliverer</th>{% endcomment %}
    {% comment %}<td>{% endcomment %}
      {% comment %}{{object.deliverer.country.unicode_flag}}{% endcomment %}
      {% comment %}{{object.deliverer}}{% endcomment %}
      {% comment %}</td>{% endcomment %}
    {% comment %}</tr>{% endcomment %}
  {% comment %}<tr>{% endcomment %}
    {% comment %}<th>Dispatcher</th>{% endcomment %}
    {% comment %}<td>{% endcomment %}

      {% comment %}{{object.dispatcher.country.unicode_flag}}{% endcomment %}
      {% comment %}{{object.dispatcher}}{% endcomment %}
      {% comment %}</td>{% endcomment %}
    {% comment %}</tr>{% endcomment %}
  {% comment %}</table>{% endcomment %}

{% endblock content %}