{% extends 'simple/base_form.html' %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load static %}

{% block header %}
<script src="{% static 'js/jquery.js' %}"></script>
   {{form.media}}
{% endblock header %}

{% block content%}
<form action="." method="post">
{% csrf_token %}

{% block alert %}
<!--div class="alert alert-warning" role="alert">
  After testing, this form will only be visible to dispatchers
</div-->
{% endblock alert %}

{% include '../embeds/title.html' %}

{% include 'simple/embeds/hospital_block.html' %}

{% include 'simple/embeds/dispatcher_fields.html' %}

{% include 'simple/embeds/maker_view.html' %}

{% include 'simple/embeds/deliverer_view.html' %}

<input type="submit" value="Submit" class='btn btn-primary'>
</form>
{% endblock content %}