{% extends 'base.html' %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load static %}

{% block header %}
<script src="{% static 'js/jquery.js' %}"></script>
   {{form.media}}
{% endblock header %}

{% block content%}
<!--div class="alert alert-warning" role="alert">
  After testing, this form will only be visible to dispatchers
</div-->

{% include '../embeds/title.html' %}

<form action="." method="post">
    {% csrf_token %}
<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4" style="background-color:#ccc">
      <img src="{% static 'images/hospital.png' %}" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Hospital: {{object.hospital.name}}</h5>
        <p class="card-text">
          {% if request.user == object.hospital %}You have{% else %}The hospital has{% endif %} ordered {{object.quantity|intcomma}} {{object.item}}{{object.quantity|pluralize}}
        </p>
        <p class="card-text"><span class="text-muted">{{object.hospital.country.unicode_flag}} {{object.hospital.city}}</span></p>
      </div>
    </div>
  </div>
</div>






  <a class="btn btn-outline-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Edit order
  </a>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
  {{form.hospital|as_crispy_field}}
  {{form.quantity|as_crispy_field}}
  {{form.item|as_crispy_field}}
  </div>
</div>




  {{form.maker|as_crispy_field}}
  {{form.deliverer|as_crispy_field}}
  {{form.status|as_crispy_field}}
    <input type="submit" value="Submit" class='btn btn-primary'>
</form>
{% endblock content %}