{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block header %}
<script src="{% static 'js/jquery.js' %}"></script>
   {{form.media}}
{% endblock header %}

{% load static %}
{% load crispy_forms_tags %}

{% block content%}
<!--{% if request.user.user_type == 'hospital' or request.user.is_superuser %}-->
<!--div class="alert alert-warning" role="alert">
  After testing, this form will only be visible to hospitals
</div-->

<h1>Order {{product.name}}</h1>
<form action="." method="post">
    {% csrf_token %}
    <hr>
    {{form.quantity|as_crispy_field}}
        {% include 'simple/embeds/product.html' %}
    {{form.product_id|as_crispy_field}}
    {{ form.hospital_notes|as_crispy_field}}

    <input type="submit" value="Submit" class='btn btn-primary'>
</form>
<!--{% endif %}-->
{% endblock content %}