{% extends 'base.html' %}
{% load static %}

{% block title %}
Orders
{% endblock title %}


{% block content %}
<h1>Orders</h1>
<table class="table">
    <thead>
        <tr>
            <th>Updated</th>
            <th>Order</th>
            <th>Hospital</th>
            <th>Maker</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
{% for object in object_list %}
<tr>
    <td>
        {{object.timestamp_update|timesince}} ago
    </td>
    <td>
        <a href="/orders/simple/{{object.pk}}">
        {{object.quantity}} x {{object.product.name}}
        </a>
    </td>
    <td>
        {{object.hospital.country.unicode_flag}}
        {{object.hospital.city}}
        {{object.hospital.display_name}}
    </td>
    <td>
        {{object.maker.country.unicode_flag}}
        {{object.maker.city}}
        {{object.maker.display_name}}
    </td>
    <td>
      <span class="badge-pill badge badge-secondary">
        {{object.status_verbose}}
</span>
    </td>
    <td>
        <a href="../{{object.pk}}/dispatch">Dispatch</a>
    </td>
</tr>

{% endfor %}
</table>

{% endblock content %}