{% extends 'base.html' %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load static %}

{% block header %}
<script src="{% static 'js/jquery.js' %}"></script>
   {{form.media}}
{% endblock header %}

{% block content%}
<!--div class="alert alert-warning" role="alert">
  After testing, this form will only be visible to dispatchers
</div-->

{% include '../embeds/title.html' %}

<form action="." method="post">
    {% csrf_token %}
<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4" style="background-color:#ccc">
      <img src="{% static 'images/hospital.png' %}" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Hospital: {{object.hospital.name}}</h5>
        <p class="card-text">
          {% if request.user == object.hospital %}You have{% else %}The hospital has{% endif %} ordered {{object.quantity|intcomma}} {{object.item}}{{object.quantity|pluralize}}
        </p>
        <p class="card-text"><span class="text-muted">{{object.hospital.country.unicode_flag}} {{object.hospital.city}}</span></p>
      </div>
    </div>
  </div>
</div>
{{form|crispy}}
  {% comment %}{% if object.status == "maker_accepted" %}{% endcomment %}
  <!-- Multiple buttons. Distinguished by name -->
    <input type="submit" value="Accept order" class='btn btn-primary' name="accept_order">
    <input type="submit" value="Update order" name="update_order" class='btn btn-primary'>
    <input type="submit" value="Mark as complete" name="mark_as_done" class='btn btn-outline-primary'>
    {% comment %}{% elif object.status == "production_complete" %}{% endcomment %}
    {% comment %}<a href="#" class="btn btn-outline-danger">Decline</a>{% endcomment %}
  {% comment %}{% endif %}{% endcomment %}
</form>
{% endblock content %}